include README.md
include pyproject.toml
recursive-include hf *.py
include online_serving.py
recursive-exclude model *
recursive-exclude *.pyc __pycache__
exclude uv.lock
exclude .python-version
exclude test-prune.sh
exclude flash_attn*.whl
global-exclude *.pyc
global-exclude __pycache__

